
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>


<form action="/Matricula/Editar?@Model.Id" method="post">
    <div class="form-group">
        <label class="control-label">Fecha</label>
        <input type="text" name="Fecha" value="@Model.Fecha" />
        @Html.ValidationMessage("Fecha")
    </div>

    <div class="form-group">
        <label class="control-label">Monto Total</label>
        <input type="text" name="MontoTotal" value="@Model.MontoTotal" />
        @Html.ValidationMessage("MontoTotal")
    </div>

    <div class="form-group">
        <label class="control-label">Estado</label>
        <input type="text" name="Estado" value="@Model.Estado" />
        @Html.ValidationMessage("Estado")
    </div>

    <div class="form-group">
        <label class="control-label">Estudiante</label>
        <input type="text" name="IdEstudiante" value="@Model.IdEstudiante" />
        @Html.ValidationMessage("IdEstudiante")
    </div>


    <button>Guardar</button>

</form>